body {
      color: #FFFFFF;
      background-color: gray;
		background-image: url("http://localhost/uo264883/practica1/multimedia/logo.jpg");
		background-repeat: no-repeat;
		background-size:cover;
}