body {
      font: 400 15px Tahoma, sans-serif;
      line-height: 1.8;
      color: #000;
      background-color: #fff;
	  display:grid; 
	  grid-template-columns:1fr 3fr; 
	  grid-template-areas:"header header" "aside content" "footer footer"; 
	  grid-row-gap:20px;
	  grid-column-gap:20px;
}
header{grid-area:header;}
aside{grid-area:aside;}
footer{grid-area:footer;}
section{grid-area:content;}
h1 {
	  
	  background-color:#008080; 
	  color: #fff;
	  text-transform: uppercase;
	  padding: 100px 25px;
	  text-align: center;
	  font-family: Arial,sans-serif;
	  font-size:2em;
	  letter-spacing: 4em;
	  border-radius: 40px;
}
h2	{font-size:1.5em;}
h3	{font-size:1.2em;}
h4	{font-size:1em;}
h5	{font-size:0.8em;}
h6	{font-size:0.6em;}
h1, h2, h3, h4, h5, h6 {
		font-weight: bold;	
		text-transform:uppercase;
	}
h1, h3, h5 {font-stretch: expanded;}
h2, h4, h6 {font-style: italic;}
.adjust {font-size-adjust: 0.5;}
p, ol, ul, td{
		font-family:Didot,serif;
		font-size:1em;
}
p::first-letter { font-size: 1.6em;}
h2, h3, h4{
		background-color:#5F9EA0; 
		color: #fff;
}
h5, h6 {
		background-color:#AFEEEE; 
		color: #000;
}
p {
		
		color: #000;
		text-align:justify;
		text-justify:inter-word;
}
h2, h3, h4, h5, h6 {
		padding: 10px 80px;
		margin:40px;
		text-align: center;
	}
aside{border-color: #008080;
    border-style: solid;
    border-width: thin;}
section img{
    width:800px;
    height:500px;
	display: block;
	margin: 0 auto;
   }
video{
    width:500px;
    height:300px;
	display: block;
	margin: 0 auto;
   }
nav a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
nav p {
	text-align: center;
	font-weight: bold;
	color: #008080;
    border-bottom: 1px solid #008080; 
	}
footer {
	text-align: center;
	background-color:#008080; 
	  color: #000;
	  text-transform: uppercase;
}
footer address p {
	color: #fff;
	text-align:center;
}
a:link{
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color:#008080;
}
a:visited{
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-color: blue;
}
th {
	font-weight:bold;
	text-transform: uppercase;
	color:#008080; 
}
table {
  border-collapse: collapse;
  margin:0 auto;
}

table, th, td {
  border: 1px solid black;
}
ul{
	list-style-type: square;
	font-style:italic;
}




